In [1]:
import requests
import pandas as pd
import numpy as np
import json
import time
!pip install hockey_scraper
import hockey_scraper

Collecting hockey_scraper
  Downloading hockey_scraper-1.38-py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 1.5 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (1.0.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (3.6.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (1.3.5)
Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.7/dist-packages (from hockey_scraper) (4.6.3)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib->hockey_scraper) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib->hockey_scraper) (1.15.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hockey_scraper) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hockey_scraper) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hockey_scraper) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (57.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (1.11.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (21.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (8.12.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (1.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->hockey_scraper) (0.7.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->hockey_scraper) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->hockey_scraper) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->hockey_scraper) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->hockey_scraper) (2.10)
Installing collected packages: hockey-scraper
Successfully installed hockey-scraper-1.38

In [ ]:
## Scrapping player and goal keeper Id's

In [2]:
years=['20152016','20162017','20172018','20182019', '20192020','20202021']
athleteid_url='http://statsapi.web.nhl.com/api/v1/teams?expand=team.roster'
id_data=json.loads((requests.get(athleteid_url)).content)
athlete_id=pd.DataFrame([])

In [127]:
id_teams=id_data["teams"]

In [128]:
full_name_list=[]
playerid_list=[]
playerposition_list=[]
playerposition_code_list=[]
for i in id_teams:
  for j in i["roster"]["roster"]:
    full_name_list.append(j["person"]["fullName"])
    playerid_list.append(j["person"]["id"])
    playerposition_list.append(j["position"]["name"])
    playerposition_code_list.append(j["position"]["code"])
athlete_id["fullName"]=full_name_list
athlete_id["id"]=playerid_list
athlete_id["position"]=playerposition_list
athlete_id["position_code"]=playerposition_code_list

In [129]:
athlete_id

                fullName       id    position position_code
0       Jonathan Bernier  8473541      Goalie             G
1             Miles Wood  8477425   Left Wing             L
2    Mackenzie Blackwood  8478406      Goalie             G
3        Janne Kuokkanen  8479511      Center             C
4          Tyce Thompson  8481740  Right Wing             R
..                   ...      ...         ...           ...
823           Vince Dunn  8478407  Defenseman             D
824        Jeremy Lauzon  8478468  Defenseman             D
825          Will Borgen  8478840  Defenseman             D
826       Mason Appleton  8478891      Center             C
827        Morgan Geekie  8479987      Center             C

[828 rows x 4 columns]

In [130]:
goalkeepers_id=athlete_id[athlete_id["position_code"]=="G"]

In [131]:
goalkeepers_id

                fullName       id position position_code
0       Jonathan Bernier  8473541   Goalie             G
2    Mackenzie Blackwood  8478406   Goalie             G
8            Jon Gillies  8476903   Goalie             G
26             Nico Daws  8482076   Goalie             G
32       Semyon Varlamov  8473575   Goalie             G
..                   ...      ...      ...           ...
771       Karel Vejmelka  8478872   Goalie             G
787         Robin Lehner  8475215   Goalie             G
788     Laurent Brossoit  8476316   Goalie             G
812     Philipp Grubauer  8475831   Goalie             G
817       Chris Driedger  8476904   Goalie             G

[78 rows x 4 columns]

In [132]:
athlete_id.to_csv("athlete_id.csv")
goalkeepers_id.to_csv("goalkeepers_id.csv")

In [133]:
# Running scrapping for loop multiple as request takes longer to fetch

In [134]:
goalkeeper_fulldata={}
output_data=pd.DataFrame([])
for i in range(0,1):
  for j in range(len(goalkeepers_id)):
    output=pd.read_html('https://www.naturalstattrick.com/{}.php?{}={}&{}={}&{}={}&sit={}&stype={}&stdoi={}&rate={}&v={}'.format('playerreport','fromseason',years[i],'thruseason',years[i+1],'playerid',goalkeepers_id.iloc[j]["id"],'all','2','oi','n','g'))[0]
    if j==0:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=output
    else:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=pd.concat([output,output_final])
    output_data=output_final
    time.sleep(7)
  goalkeeper_fulldata[years[i]+'_'+years[i+1]]=output_data

In [ ]:
goalkeeper_fulldata={}
output_data=pd.DataFrame([])
for i in range(2,3):
  for j in range(len(goalkeepers_id)):
    output=pd.read_html('https://www.naturalstattrick.com/{}.php?{}={}&{}={}&{}={}&sit={}&stype={}&stdoi={}&rate={}&v={}'.format('playerreport','fromseason',years[i],'thruseason',years[i+1],'playerid',goalkeepers_id.iloc[j]["id"],'all','2','oi','n','g'))[0]
    if j==0:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=output
    else:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=pd.concat([output,output_final])
    output_data=output_final
    time.sleep(7)
  goalkeeper_fulldata[years[i]+'_'+years[i+1]]=output_data

In [ ]:
goalkeeper_fulldata={}
output_data=pd.DataFrame([])
for i in range(4,5):
  for j in range(len(goalkeepers_id)):
    output=pd.read_html('https://www.naturalstattrick.com/{}.php?{}={}&{}={}&{}={}&sit={}&stype={}&stdoi={}&rate={}&v={}'.format('playerreport','fromseason',years[i],'thruseason',years[i+1],'playerid',goalkeepers_id.iloc[j]["id"],'all','2','oi','n','g'))[0]
    if j==0:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=output
    else:
      output['id']=goalkeepers_id.iloc[i]["id"]
      output['fullName']=goalkeepers_id.iloc[i]["fullName"]
      output_final=pd.concat([output,output_final])
    output_data=output_final
    time.sleep(7)
  goalkeeper_fulldata[years[i]+'_'+years[i+1]]=output_data

In [ ]:
goalkeeper_fulldata["20152016_20162017"].to_csv("goalkeeper_fulldata_20152016_20162017.csv")

In [ ]:
goalkeeper_fulldata["20172018_20182019"].to_csv("goalkeeper_fulldata_20172018_20182019.csv")

In [ ]:
goalkeeper_fulldata["20192020_20202021"].to_csv("goalkeeper_fulldata_20192020_20202021.csv")

In [135]:
data1_dummy=pd.read_csv("goalkeeper_fulldata_20152016_20162017.csv")

In [136]:
data2_dummy=pd.read_csv("goalkeeper_fulldata_20172018_20182019.csv")

In [137]:
data3_dummy=pd.read_csv("goalkeeper_fulldata_20192020_20202021.csv")

In [138]:
goalkeeper_fulldata_df=pd.DataFrame([])
marged_dataframe=[data1_dummy,data2_dummy,data3_dummy]

In [139]:
goalkeeper_fulldata=pd.concat(marged_dataframe,ignore_index=True)

In [140]:
goalkeeper_fulldata["Game"][2]

'2015-10-23 WSH at EDM'

In [141]:
dummy_list1=[]
for i in range(len(goalkeeper_fulldata["Team"])):
  dummy_list1.append(goalkeeper_fulldata["Team"][i]+' + '+goalkeeper_fulldata["Game"][i][0:10])

In [142]:
goalkeeper_fulldata["Team+day"]=dummy_list1

In [143]:
dummy_list2=[]
for i in range(len(goalkeeper_fulldata["Team"])):
  dummy_list2.append(goalkeeper_fulldata["Game"][i][0:10])

In [144]:
goalkeeper_fulldata["day"]=dummy_list2

In [145]:
goalkeeper_fulldata

,Unnamed: 0,Game,Team,TOI,CF,CA,CF%,FF,FA,FF%,...,On The Fly Starts,Off. Zone Start %,Off. Zone Faceoffs,Neu. Zone Faceoffs,Def. Zone Faceoffs,Off. Zone Faceoff %,id,fullName,Team+day,day
0,0,2015-12-12 OTT at MTL,OTT,31.816667,37,21,63.79,22,14,61.11,...,0,-,13,13,8,61.9,8473541,Jonathan Bernier,OTT + 2015-12-12,2015-12-12
1,1,2016-10-28 OTT at CGY,OTT,40.000000,43,39,52.44,33,26,55.93,...,0,-,23,10,13,63.89,8473541,Jonathan Bernier,OTT + 2016-10-28,2016-10-28
2,0,2015-10-23 WSH at EDM,WSH,59.666667,48,55,46.6,37,39,48.68,...,0,100.00,13,26,23,36.11,8473541,Jonathan Bernier,WSH + 2015-10-23,2015-10-23
3,1,2015-10-31 WSH at FLA,WSH,63.733333,48,44,52.17,36,38,48.65,...,0,-,15,22,18,45.45,8473541,Jonathan Bernier,WSH + 2015-10-31,2015-10-31
4,2,2015-11-13 CGY at WSH,WSH,61.666667,75,55,57.69,48,45,51.61,...,0,-,22,23,20,52.38,8473541,Jonathan Bernier,WSH + 2015-11-13,2015-11-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9521,65,2021-04-17 CHI at DET,DET,58.333333,54,41,56.84,39,29,57.35,...,0,100.00,22,14,18,55.0,8473575,Semyon Varlamov,DET + 2021-04-17,2021-04-17
9522,66,2021-04-20 DET at DAL,DET,23.600000,30,20,60.0,19,17,52.78,...,0,-,10,8,7,58.82,8473575,Semyon Varlamov,DET + 2021-04-20,2021-04-20
9523,67,2021-04-24 DAL at DET,DET,60.533333,32,85,27.35,24,67,26.37,...,0,-,13,10,34,27.66,8473575,Semyon Varlamov,DET + 2021-04-24,2021-04-24
9524,68,2021-04-29 DET at CAR,DET,56.216667,32,62,34.04,25,45,35.71,...,0,0.00,17,16,20,45.95,8473575,Semyon Varlamov,DET + 2021-04-29,2021-04-29
9525,69,2021-05-02 T.B at DET,DET,58.583333,41,67,37.96,29,54,34.94,...,0,-,15,11,17,46.88,8473575,Semyon Varlamov,DET + 2021-05-02,2021-05-02

In [146]:
## Calculating rolling averages for each column

In [148]:
goalkeeper_fulldata["TOI_MovingAverage"]=goalkeeper_fulldata.groupby('id')['TOI'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [149]:
goalkeeper_fulldata["CF_MovingAverage"]=goalkeeper_fulldata.groupby('id')['CF'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [150]:
goalkeeper_fulldata["FF_MovingAverage"]=goalkeeper_fulldata.groupby('id')['FF'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [151]:
goalkeeper_fulldata["FA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['FA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [152]:
goalkeeper_fulldata["SF_MovingAverage"]=goalkeeper_fulldata.groupby('id')['SF'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [153]:
goalkeeper_fulldata["SA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['SA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [154]:
goalkeeper_fulldata["GF_MovingAverage"]=goalkeeper_fulldata.groupby('id')['GF'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [155]:
goalkeeper_fulldata["GA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['GA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [156]:
goalkeeper_fulldata['xGA_MovingAverage']=goalkeeper_fulldata.groupby('id')['xGA'].transform(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [157]:
goalkeeper_fulldata["SCGA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['SCGA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [158]:
goalkeeper_fulldata["HDCA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['HDCA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [159]:
goalkeeper_fulldata["HDGA_MovingAverage"]=goalkeeper_fulldata.groupby('id')['HDGA'].apply(lambda x: x.rolling(window=40,min_periods=10).sum().shift())

In [160]:
goalkeeper_fulldata['fwkSV%_GoalKeeper']=(goalkeeper_fulldata['FA_MovingAverage']-goalkeeper_fulldata['GA_MovingAverage'])/goalkeeper_fulldata['FA_MovingAverage']

In [161]:
goalkeeper_fulldata['GSAx_GoalKeeper']=(goalkeeper_fulldata['xGA_MovingAverage']*60/goalkeeper_fulldata['TOI_MovingAverage'])

In [162]:
goalkeeper_fulldata['GSAx/60_GoalKeeper']=goalkeeper_fulldata['GSAx_GoalKeeper']*60/goalkeeper_fulldata['TOI_MovingAverage']
goalkeeper_fulldata['HDCSV%__GoalKeeper']=(goalkeeper_fulldata['HDCA_MovingAverage']-goalkeeper_fulldata['HDGA_MovingAverage'])/goalkeeper_fulldata['HDCA_MovingAverage']

In [163]:
goalkeeper_fulldata.to_csv("goalkeeper_fulldata_complete.csv")

In [164]:
goal_df=goalkeeper_fulldata[(goalkeeper_fulldata['fwkSV%_GoalKeeper'].isna())&(goalkeeper_fulldata['day']>='2015-10-04')&(goalkeeper_fulldata['day']<'2021')]

In [165]:
sum_TOI=goal_df['TOI'].sum()
sum_FA=goal_df['FA'].sum()
sum_GA=goal_df['GA'].sum()
sum_xGA=goal_df['xGA'].sum()
sum_HDCA=goal_df['HDCA'].sum()
sum_HDGA=goal_df['HDGA'].sum()

In [166]:
sum_FenwickSV=(sum_FA-sum_GA)/sum_FA
sum_GSAx=sum_xGA-sum_GA
sum_GSAx60=(sum_GSAx*60)/sum_TOI
sum_HDCSV=(sum_HDCA-sum_HDGA )/sum_HDCA

In [167]:
sum=[sum_FenwickSV,sum_GSAx,sum_GSAx60,sum_HDCSV ]

In [168]:
# Team play stats

In [169]:
play=["sva","pp","pk"]

In [170]:
play_stattrick_url='https://www.naturalstattrick.com/games.php?{}={}&{}={}&stype={}&sit={}&loc={}&team={}&rate={}'

In [171]:
teamshortids_dict=open("teamshortids.json")
teamshortids_dict=json.load(teamshortids_dict)

In [172]:
teamid_url='https://statsapi.web.nhl.com/api/v1/teams'
teamid_data=json.loads((requests.get(teamid_url)).content)

In [173]:
final_data={}
for i in range(len(years)):
  for j in range(len(play)):
    output=pd.read_html(play_stattrick_url.format('fromseason',years[i],'thruseason',years[i],play[j],'2','B','All','n'))
    
    for i1 in range(len(output[0]["Team"])):
      output[0]["Team"][i1]=teamshortids_dict[output[0]["Team"][i1]]
    dummy_list11=[]
    for i2 in range(len(output[0]["Team"])):
      dummy_list11.append(output[0]["Team"][i2]+' + '+output[0]['Game'][i2][0:10])

    
    dummy_list12=[]
    for i3 in range(len(output[0]["Team"])):
      dummy_list12.append(output[0]["Game"][i3][0:10])
    
    output[0]["day"]=dummy_list12
    output[0]["Team+day"]=dummy_list11
    
    final_data[years[i]+"_"+play[j]]=output[0]
    #print(df[0].iloc[0])
    time.sleep(3)
  time.sleep(5)

A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [174]:
finaldata_merged=pd.DataFrame([])

In [175]:
merge_20152016=final_data["20152016_sva"].merge(final_data["20152016_pp"][['Team+day', 'TOI', 'xGF', 'GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20152016=merge_20152016.merge(final_data["20152016_pk"][['Team+day', 'TOI', 'xGA', 'GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [176]:
merge_20162017=final_data["20162017_sva"].merge(final_data["20162017_pp"][['Team+day', 'TOI', 'xGF', 'GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20162017=merge_20162017.merge(final_data["20162017_pk"][['Team+day', 'TOI', 'xGA', 'GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [177]:
merge_20172018=final_data["20172018_sva"].merge(final_data["20172018_pp"][['Team+day', 'TOI', 'xGF', 'GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20172018=merge_20172018.merge(final_data["20172018_pk"][['Team+day', 'TOI', 'xGA', 'GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [178]:
merge_20182019=final_data["20182019_sva"].merge(final_data["20182019_pp"][['Team+day', 'TOI', 'xGF', 'GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20182019=merge_20182019.merge(final_data["20182019_pk"][['Team+day', 'TOI', 'xGA','GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [179]:
merge_20192020=final_data["20192020_sva"].merge(final_data["20192020_pp"][['Team+day', 'TOI', 'xGF','GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20192020=merge_20192020.merge(final_data["20192020_pk"][['Team+day', 'TOI','xGA','GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [180]:
merge_20202021=final_data["20202021_sva"].merge(final_data["20202021_pp"][['Team+day', 'TOI', 'xGF','GF']],left_index=False,
                                                right_index=False,suffixes=("","_pp"),how='left',on='Team+day',indicator=False,validate=None,)
merge_20202021=merge_20202021.merge(final_data["20202021_pk"][['Team+day', 'TOI', 'xGA','GA']],left_index=False,
                                                right_index=False,suffixes=("","_pk"),how='left',on='Team+day',indicator=False,validate=None,)

In [181]:
final_output=pd.concat([merge_20152016,merge_20162017,merge_20172018,merge_20182019,merge_20192020,merge_20202021])

In [182]:
final_output.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [183]:
final_output["TOI_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['TOI'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["TOI_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['TOI'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [184]:
final_output["CA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['CA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["CA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['CA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [185]:
final_output["FF_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['FF'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["FF_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['FF'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [186]:
final_output["FA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['FA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["FA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['FA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [187]:
final_output["SF_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['SF'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["SF_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['SF'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [188]:
final_output["SA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['SA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["SA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['SA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [189]:
final_output["GA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['GA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["GA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['GA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [190]:
final_output["GF_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['GF'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["GF_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['GF'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [191]:
final_output["GA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['GA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["GA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['GA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [192]:
final_output["xGA_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['xGA'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["xGA_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['xGA'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [193]:
final_output["xGF_SVA_TeamMoingAverage_40"]=final_output.groupby('Team')['xGF'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["xGF_SVA_TeamMoingAverage_5"]=final_output.groupby('Team')['xGF'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [194]:
final_output["Fenwick%_SVA_TeamMoingAverage_40"]=(final_output["FF_SVA_TeamMoingAverage_40"]/(final_output["FF_SVA_TeamMoingAverage_40"]+final_output["FA_SVA_TeamMoingAverage_40"]))*100
final_output["Fenwick%_SVA_TeamMoingAverage_5"]=(final_output["FF_SVA_TeamMoingAverage_5"]/(final_output["FF_SVA_TeamMoingAverage_5"]+final_output["FA_SVA_TeamMoingAverage_5"]))*100

In [195]:
final_output["GF%_SVA_TeamMoingAverage_40"]=(final_output["GF_SVA_TeamMoingAverage_40"]/(final_output["GF_SVA_TeamMoingAverage_40"]+final_output["GA_SVA_TeamMoingAverage_40"]))*100
final_output["GF%_SVA_TeamMoingAverage_5"]=(final_output["GF_SVA_TeamMoingAverage_5"]/(final_output["GF_SVA_TeamMoingAverage_5"]+final_output["GA_SVA_TeamMoingAverage_5"]))*100

In [196]:
final_output["xGF%_SVA_TeamMoingAverage_40"]=(final_output["xGF_SVA_TeamMoingAverage_40"]/(final_output["xGF_SVA_TeamMoingAverage_40"]+final_output["xGA_SVA_TeamMoingAverage_40"]))*100
final_output["xGF%_SVA_TeamMoingAverage_5"]=(final_output["xGF_SVA_TeamMoingAverage_5"]/(final_output["xGF_SVA_TeamMoingAverage_5"]+final_output["xGA_SVA_TeamMoingAverage_5"]))*100

In [197]:
final_output["SFGF%_SVA_TeamMoingAverage_40"]=(final_output["GF_SVA_TeamMoingAverage_40"]/(final_output["SF_SVA_TeamMoingAverage_40"]))*100
final_output["SFGF%_SVA_TeamMoingAverage_5"]=(final_output["GF_SVA_TeamMoingAverage_5"]/(final_output["SF_SVA_TeamMoingAverage_5"]))*100

In [198]:
final_output["TOI_pp_TeamMoingAverage_40"]=final_output.groupby('Team')['TOI_pp'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["TOI_pp_TeamMoingAverage_5"]=final_output.groupby('Team')['TOI_pp'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [199]:
final_output["GF_pp_TeamMoingAverage_40"]=final_output.groupby('Team')['GF_pp'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["GF_pp_TeamMoingAverage_5"]=final_output.groupby('Team')['GF_pp'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [200]:
final_output["xGF_pp_TeamMoingAverage_40"]=final_output.groupby('Team')['xGF_pp'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["xGF_pp_TeamMoingAverage_5"]=final_output.groupby('Team')['xGF_pp'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [201]:
final_output["TOI_Average_pp_TeamMoingAverage_40"]=final_output.groupby('Team')['TOI_pp'].transform(lambda x: x.rolling(window=40,min_periods=40).mean().shift())
final_output["TOI_Average_pp_TeamMoingAverage_5"]=final_output.groupby('Team')['TOI_pp'].transform(lambda x: x.rolling(window=5,min_periods=5).mean().shift())

In [202]:
final_output["GF_Average_Average_pp_TeamMoingAverage_40"]=final_output["GF_pp_TeamMoingAverage_40"]/final_output["TOI_pp_TeamMoingAverage_40"]
final_output["GF_Average_Average_pp_TeamMoingAverage_5"]=final_output["GF_pp_TeamMoingAverage_5"]/final_output["TOI_pp_TeamMoingAverage_5"]

In [203]:
final_output["xGF_Average_pp_TeamMoingAverage_40"]=final_output["xGF_pp_TeamMoingAverage_40"]/final_output["TOI_pp_TeamMoingAverage_40"]
final_output["xGF_Average_pp_TeamMoingAverage_5"]=final_output["xGF_pp_TeamMoingAverage_5"]/final_output["TOI_pp_TeamMoingAverage_5"]

In [204]:
final_output["TOI_pk_TeamMoingAverage_40"]=final_output.groupby('Team')['TOI_pk'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["TOI_pk_TeamMoingAverage_5"]=final_output.groupby('Team')['TOI_pk'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [205]:
final_output["GA_pk_TeamMoingAverage_40"]=final_output.groupby('Team')['GA_pk'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["GA_pk_TeamMoingAverage_5"]=final_output.groupby('Team')['GA_pk'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [206]:
final_output["xGA_pk_TeamMoingAverage_40"]=final_output.groupby('Team')['xGA_pk'].transform(lambda x: x.rolling(window=40,min_periods=40).sum().shift())
final_output["xGA_pk_TeamMoingAverage_5"]=final_output.groupby('Team')['xGA_pk'].transform(lambda x: x.rolling(window=5,min_periods=5).sum().shift())

In [207]:
final_output["TOI_Average_pk_TeamMoingAverage_40"]=final_output.groupby('Team')['TOI_pk'].transform(lambda x: x.rolling(window=40,min_periods=40).mean().shift())
final_output["TOI_Average_pk_TeamMoingAverage_5"]=final_output.groupby('Team')['TOI_pk'].transform(lambda x: x.rolling(window=5,min_periods=5).mean().shift())

In [208]:
final_output["GA_Average_Average_pk_TeamMoingAverage_40"]=final_output["GA_pk_TeamMoingAverage_40"]/final_output["TOI_pk_TeamMoingAverage_40"]
final_output["GA_Average_Average_pk_TeamMoingAverage_5"]=final_output["GA_pk_TeamMoingAverage_5"]/final_output["TOI_pk_TeamMoingAverage_5"]

In [209]:
final_output["xGA_Average_pk_TeamMoingAverage_40"]=final_output["xGA_pk_TeamMoingAverage_40"]/final_output["TOI_pk_TeamMoingAverage_40"]
final_output["xGA_Average_pk_TeamMoingAverage_5"]=final_output["xGA_pk_TeamMoingAverage_5"]/final_output["TOI_pk_TeamMoingAverage_5"]

In [210]:
final_output['previous_play']=final_output.groupby('Team')['day'].shift()
final_output['previous_play_day']=(final_output['day']).apply(lambda x: pd.to_datetime(x))-(final_output['previous_play']).apply(lambda x: pd.to_datetime(x))
final_output['BacktoBack']=np.where(final_output['previous_play_day']=='1 days',1,0)

In [211]:
final_output.head(45)

,Game,Team,Unnamed: 2,TOI,CF,CA,CF%,FF,FA,FF%,...,xGA_pk_TeamMoingAverage_5,TOI_Average_pk_TeamMoingAverage_40,TOI_Average_pk_TeamMoingAverage_5,GA_Average_Average_pk_TeamMoingAverage_40,GA_Average_Average_pk_TeamMoingAverage_5,xGA_Average_pk_TeamMoingAverage_40,xGA_Average_pk_TeamMoingAverage_5,previous_play,previous_play_day,BacktoBack
0,"2015-09-20 - Panthers 3, Predators 2",FLA,Limited ReportFull Report,62.083333,41,45,47.67,34,37,47.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
1,"2015-09-20 - Panthers 3, Predators 2",NSH,Limited ReportFull Report,62.083333,45,41,52.33,37,34,52.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
2,"2015-09-21 - Oilers 3, Flames 1",CGY,Limited ReportFull Report,60.000000,53,65,44.92,41,47,46.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
3,"2015-09-21 - Oilers 3, Flames 1",CGY,Limited ReportFull Report,60.000000,53,65,44.92,41,47,46.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
4,"2015-09-21 - Oilers 3, Flames 1",CGY,Limited ReportFull Report,60.000000,53,65,44.92,41,47,46.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
5,"2015-09-21 - Oilers 3, Flames 1",CGY,Limited ReportFull Report,60.000000,53,65,44.92,41,47,46.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
6,"2015-09-21 - Oilers 3, Flames 1",EDM,Limited ReportFull Report,60.000000,65,53,55.08,47,41,53.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
7,"2015-09-21 - Oilers 3, Flames 1",EDM,Limited ReportFull Report,60.000000,65,53,55.08,47,41,53.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
8,"2015-09-21 - Oilers 3, Flames 1",EDM,Limited ReportFull Report,60.000000,65,53,55.08,47,41,53.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
9,"2015-09-21 - Oilers 3, Flames 1",EDM,Limited ReportFull Report,60.000000,65,53,55.08,47,41,53.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
10,"2015-09-21 - Penguins 0, Blue Jackets 0",CBJ,Limited ReportFull Report,60.000000,0,0,-,0,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
11,"2015-09-21 - Penguins 0, Blue Jackets 0",PIT,Limited ReportFull Report,60.000000,0,0,-,0,0,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
12,"2015-09-21 - Flames 2, Oilers 4",CGY,Limited ReportFull Report,60.000000,40,68,37.04,33,42,44.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
13,"2015-09-21 - Flames 2, Oilers 4",CGY,Limited ReportFull Report,60.000000,40,68,37.04,33,42,44.00,...,15.75,NaN,60.000000,NaN,0.056667,NaN,0.052500,2015-09-21,0 days,0
14,"2015-09-21 - Flames 2, Oilers 4",CGY,Limited ReportFull Report,60.000000,40,68,37.04,33,42,44.00,...,14.70,NaN,60.000000,NaN,0.060000,NaN,0.049000,2015-09-21,0 days,0
15,"2015-09-21 - Flames 2, Oilers 4",CGY,Limited ReportFull Report,60.000000,40,68,37.04,33,42,44.00,...,15.75,NaN,60.000000,NaN,0.056667,NaN,0.052500,2015-09-21,0 days,0
16,"2015-09-21 - Flames 2, Oilers 4",EDM,Limited ReportFull Report,60.000000,68,40,62.96,42,33,56.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
17,"2015-09-21 - Flames 2, Oilers 4",EDM,Limited ReportFull Report,60.000000,68,40,62.96,42,33,56.00,...,9.39,NaN,60.000000,NaN,0.023333,NaN,0.031300,2015-09-21,0 days,0
18,"2015-09-21 - Flames 2, Oilers 4",EDM,Limited ReportFull Report,60.000000,68,40,62.96,42,33,56.00,...,9.06,NaN,60.000000,NaN,0.026667,NaN,0.030200,2015-09-21,0 days,0
19,"2015-09-21 - Flames 2, Oilers 4",EDM,Limited ReportFull Report,60.000000,68,40,62.96,42,33,56.00,...,9.39,NaN,60.000000,NaN,0.023333,NaN,0.031300,2015-09-21,0 days,0
20,"2015-09-21 - Sabres 3, Wild 2",BUF,Limited ReportFull Report,60.000000,37,44,45.68,29,32,47.54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
21,"2015-09-21 - Sabres 3, Wild 2",MIN,Limited ReportFull Report,60.000000,44,37,54.32,32,29,52.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
22,"2015-09-21 - Flyers 2, Islanders 3",NYI,Limited ReportFull Report,60.000000,50,45,52.63,43,35,55.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
23,"2015-09-21 - Flyers 2, Islanders 3",PHI,Limited ReportFull Report,60.000000,45,50,47.37,35,43,44.87,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
24,"2015-09-21 - Devils 3, Rangers 6",N.J,Limited ReportFull Report,60.000000,54,47,53.47,43,33,56.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
25,"2015-09-21 - Devils 3, Rangers 6",NYR,Limited ReportFull Report,60.000000,47,54,46.53,33,43,43.42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
26,"2015-09-21 - Maple Leafs 4, Senators 3",OTT,Limited ReportFull Report,60.916667,54,56,49.09,42,49,46.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
27,"2015-09-21 - Maple Leafs 4, Senators 3",OTT,Limited ReportFull Report,60.916667,54,56,49.09,42,49,46.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
28,"2015-09-21 - Maple Leafs 4, Senators 3",OTT,Limited ReportFull Report,60.916667,54,56,49.09,42,49,46.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
29,"2015-09-21 - Maple Leafs 4, Senators 3",OTT,Limited ReportFull Report,60.916667,54,56,49.09,42,49,46.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
30,"2015-09-21 - Maple Leafs 4, Senators 3",TOR,Limited ReportFull Report,60.916667,56,54,50.91,49,42,53.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
31,"2015-09-21 - Maple Leafs 4, Senators 3",TOR,Limited ReportFull Report,60.916667,56,54,50.91,49,42,53.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
32,"2015-09-21 - Maple Leafs 4, Senators 3",TOR,Limited ReportFull Report,60.916667,56,54,50.91,49,42,53.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
33,"2015-09-21 - Maple Leafs 4, Senators 3",TOR,Limited ReportFull Report,60.916667,56,54,50.91,49,42,53.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
34,"2015-09-21 - Senators 1, Maple Leafs 4",OTT,Limited ReportFull Report,60.000000,47,67,41.23,35,51,40.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
35,"2015-09-21 - Senators 1, Maple Leafs 4",OTT,Limited ReportFull Report,60.000000,47,67,41.23,35,51,40.70,...,14.72,NaN,60.550000,NaN,0.066061,NaN,0.048621,2015-09-21,0 days,0
36,"2015-09-21 - Senators 1, Maple Leafs 4",OTT,Limited ReportFull Report,60.000000,47,67,41.23,35,51,40.70,...,14.18,NaN,60.366667,NaN,0.066262,NaN,0.046980,2015-09-21,0 days,0
37,"2015-09-21 - Senators 1, Maple Leafs 4",OTT,Limited ReportFull Report,60.000000,47,67,41.23,35,51,40.70,...,14.72,NaN,60.550000,NaN,0.066061,NaN,0.048621,2015-09-21,0 days,0
38,"2015-09-21 - Senators 1, Maple Leafs 4",TOR,Limited ReportFull Report,60.000000,67,47,58.77,51,35,59.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-21,0 days,0
39,"2015-09-21 - Senators 1, Maple Leafs 4",TOR,Limited ReportFull Report,60.000000,67,47,58.77,51,35,59.30,...,11.21,NaN,60.550000,NaN,0.036334,NaN,0.037027,2015-09-21,0 days,0
40,"2015-09-21 - Senators 1, Maple Leafs 4",TOR,Limited ReportFull Report,60.000000,67,47,58.77,51,35,59.30,...,10.24,NaN,60.366667,NaN,0.029818,NaN,0.033926,2015-09-21,0 days,0
41,"2015-09-21 - Senators 1, Maple Leafs 4",TOR,Limited ReportFull Report,60.000000,67,47,58.77,51,35,59.30,...,11.21,NaN,60.550000,NaN,0.036334,NaN,0.037027,2015-09-21,0 days,0
42,"2015-09-21 - Hurricanes 0, Capitals 2",CAR,Limited ReportFull Report,60.000000,54,53,50.47,35,40,46.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
43,"2015-09-21 - Hurricanes 0, Capitals 2",WSH,Limited ReportFull Report,60.000000,53,54,49.53,40,35,53.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0
44,"2015-09-22 - Capitals 1, Bruins 2",BOS,Limited ReportFull Report,60.200000,53,52,50.48,43,40,51.81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,0

In [212]:
## using NHL API to import season start and end dates

In [213]:
season_dates=json.loads(requests.get("https://statsapi.web.nhl.com/api/v1/seasons").content)

In [214]:
season_dates_output=[]
for i in range(len(years)):
  if(len([i1 for i1 in season_dates["seasons"] if i1["regularSeasonEndDate"][0:4]==years[i][4:]])>0):
    season_dates_output.append([i1 for i1 in season_dates["seasons"] if i1["regularSeasonEndDate"][0:4]==years[i][4:]])

In [215]:
## Usin hockey scrappr to acquire game results for each season

In [216]:
season_results={}
for i in range(len(season_dates_output)):
  time.sleep(3)
  dummy_list21=[]
  season_iteration=hockey_scraper.scrape_schedule(season_dates_output[i][0]["regularSeasonStartDate"],season_dates_output[i][0]["seasonEndDate"])
  for j in range(len(season_iteration)):
    if(season_iteration["home_score"][j]>season_iteration["away_score"][j]):
      dummy_list21.append(1)
    else:
      dummy_list21.append(0)
  season_iteration["Host_won"]=dummy_list21
  season_iteration["Team+day_Host"]=season_iteration["home_team"]+' + '+season_iteration["date"]
  season_iteration["Team+day_guest"]=season_iteration["away_team"]+' + '+season_iteration["date"]
  season_results[season_dates_output[i][0]["regularSeasonStartDate"][0:4]+"_"+season_dates_output[i][0]["seasonEndDate"][0:4]]=season_iteration

Scraping the schedule between 2015-10-07 and 2016-06-12
Scraping the schedule between 2016-10-12 and 2017-06-11
Scraping the schedule between 2017-10-04 and 2018-06-07
Scraping the schedule between 2018-10-03 and 2019-06-15
Scraping the schedule between 2019-10-02 and 2020-09-29
Scraping the schedule between 2021-01-13 and 2021-07-15

In [217]:
goalie_feature_columns=['Team+day','fullName','fwkSV%_GoalKeeper','GSAx/60_GoalKeeper','HDCSV%__GoalKeeper']

In [218]:
def merge_starters_and_features(game_results_df,goalies_df,features_df,feature_columns,goalie_feature_columns):
  goalies_df=goalies_df[goalies_df['TOI']>=28.5]
  df=game_results_df.merge(goalies_df[goalie_feature_columns].add_prefix('home_'),left_on='Team+day_Host', right_on = 'home_Team+day', how = 'left').rename(columns ={'home_Name':'home_goalie'}).drop(columns = 'home_Team+day')
  df=df.merge(goalies_df[goalie_feature_columns].add_prefix('guest_'),left_on='Team+day_guest',right_on='guest_Team+day',how ='left').rename(columns={'guest_Name':'guest_goalie'}).drop(columns='guest_Team+day')
  df=df.merge(features_df[feature_columns].add_prefix('home_'),left_on='Team+day_Host',right_on='home_Team+day',how = 'left')
  df=df.merge(features_df[feature_columns].add_prefix('guest_'),left_on='Team+day_guest',right_on='guest_Team+day',how = 'left')
  conditions=[((df['home_BacktoBack'] == 0) & (df['guest_BacktoBack'] == 0)),((df['home_BacktoBack']==1)&(df['guest_BacktoBack']==0)),((df['home_BacktoBack']==0)&(df['guest_BacktoBack']==1)),((df['home_BacktoBack']==1)&(df['guest_BacktoBack']==1))]
  choices=['Neither','Home_only','guest_only','Both']
  df['BacktoBack_Status']=np.select(conditions, choices)
  years_slots=[((df['date'] >= season_dates_output[0][0]["regularSeasonStartDate"]) & (df['date'] <= season_dates_output[0][0]["seasonEndDate"])),
                  ((df['date'] >= season_dates_output[1][0]["regularSeasonStartDate"]) & (df['date'] <= season_dates_output[1][0]["seasonEndDate"])),
                  ((df['date'] >= season_dates_output[2][0]["regularSeasonStartDate"]) & (df['date'] <= season_dates_output[2][0]["seasonEndDate"])),
                  ((df['date'] >= season_dates_output[3][0]["regularSeasonStartDate"]) & (df['date'] <= season_dates_output[3][0]["seasonEndDate"])),
                  ((df['date'] >= season_dates_output[4][0]["regularSeasonStartDate"]) & (df['date'] <= season_dates_output[4][0]["seasonEndDate"])),
                  ((df['date'] >= '2020-04-01') & (df['date'] <= season_dates_output[5][0]["seasonEndDate"]))
                 ]
  years_=['20152016','20162017','20172018','20182019','20192020','20202021']
  df['Season']=np.select(years_slots,years_)
  return df

In [219]:
df_20152016_C=merge_starters_and_features(season_results["2015_2016"],goalkeeper_fulldata,final_output,final_output.columns,goalie_feature_columns)

In [220]:
df_20162017_C=merge_starters_and_features(season_results["2016_2017"],goalkeeper_fulldata,final_output,final_output.columns,goalie_feature_columns)

In [221]:
df_20172018_C=merge_starters_and_features(season_results["2017_2018"], goalkeeper_fulldata, final_output, final_output.columns, goalie_feature_columns)

In [222]:
df_20182019_C=merge_starters_and_features(season_results["2018_2019"], goalkeeper_fulldata, final_output, final_output.columns, goalie_feature_columns)

In [223]:
df_20192020_C=merge_starters_and_features(season_results["2019_2020"], goalkeeper_fulldata, final_output, final_output.columns, goalie_feature_columns)

In [224]:
df_20202021_C=merge_starters_and_features(season_results["2021_2021"], goalkeeper_fulldata, final_output, final_output.columns, goalie_feature_columns)

In [225]:
final_scrapped_data=pd.concat([df_20152016_C,df_20162017_C,df_20172018_C, df_20182019_C, df_20192020_C, df_20202021_C])

In [226]:
final_scrapped_data=final_scrapped_data[~final_scrapped_data.duplicated(subset='game_id')]

In [227]:
final_scrapped_data['guest_fwkSV%_GoalKeeper']=np.where(final_scrapped_data['guest_fwkSV%_GoalKeeper'].isna(),sum_FenwickSV,final_scrapped_data['guest_fwkSV%_GoalKeeper'])
final_scrapped_data['guest_GSAx/60_GoalKeeper']=np.where(final_scrapped_data['guest_GSAx/60_GoalKeeper'].isna(),sum_GSAx60,final_scrapped_data['guest_GSAx/60_GoalKeeper'])
final_scrapped_data['guest_HDCSV%__GoalKeeper']=np.where(final_scrapped_data['guest_HDCSV%__GoalKeeper'].isna(),sum_HDCSV,final_scrapped_data['guest_HDCSV%__GoalKeeper'])
final_scrapped_data['home_fwkSV%_GoalKeeper']=np.where(final_scrapped_data['home_fwkSV%_GoalKeeper'].isna(),sum_FenwickSV,final_scrapped_data['home_fwkSV%_GoalKeeper'])
final_scrapped_data['home_GSAx/60_GoalKeeper']=np.where(final_scrapped_data['home_GSAx/60_GoalKeeper'].isna(),sum_GSAx60,final_scrapped_data['home_GSAx/60_GoalKeeper'])
final_scrapped_data['home_HDCSV%__GoalKeeper']=np.where(final_scrapped_data['home_HDCSV%__GoalKeeper'].isna(),sum_HDCSV,final_scrapped_data['home_HDCSV%__GoalKeeper'])

In [228]:
final_scrapped_data.to_csv('final_scrapped_data.csv')